<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489014981030-rd20c0u18uhvqpqc9j8e0c059catsqp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489014981030-rd20c0u18uhvqpqc9j8e0c059catsqp5</string>
	<key>API_KEY</key>
	<string>AIzaSyCUUPq2chgAqZ80Rt1LQdaIQ0rsKZMK8JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>489014981030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.allSmFriends</string>
	<key>PROJECT_ID</key>
	<string>all-sm-friends</string>
	<key>STORAGE_BUCKET</key>
	<string>all-sm-friends.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489014981030:ios:e7f3aecbdabedd1e2a9f67</string>
</dict>
</plist>